header {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;

  .wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;

    svg {
      margin-right: 1em;
    }

    span {
      font-size: 0.8em;
    }
  }
}
